/******************
  GENERAL & NAVBAR
******************/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  width: 460px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.btn {
  margin: 5px;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

nav {
  background: #001f3f;
}

nav,
form {
  user-select: none;
}

a {
  text-decoration: none;
  transition: .2s;
}

nav > p {
  font-weight: bold;
  cursor: default;
}

nav > p,
nav a {
  color: #8666ee; 
}

nav a:hover {
  color: #5d3ad2;
}

#githubHref {
  filter: sepia(1) saturate(190) hue-rotate(269deg) brightness(1)
}

#githubHref:hover {
  filter: sepia(1) saturate(190) hue-rotate(269deg) brightness(.6)
  /* filter: sepia(1) saturate(50) hue-rotate(200deg) brightness(1.2); */
}

.cool-orange {
  background-color: #FF851B;
}

.cool-orange:hover {
  background-color: #d84400;
}

#randomizeFromSync:disabled {
  background-color: rgb(170, 170, 170);
}

/******************
  RANDOMIZED MOVIE
******************/

.randomized-mmedia {
  background: #008080;

color: rgb(255, 255, 255);
border-radius: 5px;
  margin-top: 10px;
}

.title {
  font-size: 24px;
  text-decoration: none;
  /* color: rgb(87, 153, 239) */
  color: #FFCC00;
}

.title:hover {
  text-decoration: none;
  color: #E8DA0C;
}

.year {
  margin-top: -2px !important;
}

  /* HEROIC CONTENT */

  .heroic-content {
    position: relative;
    min-height: 40px;
  }
  
  .vote {
	font-size: 16px;
	  color: #808080; 
       left: 8%;	  
  }
  
  .ratings,
  .runtime {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	color:  #FFFFFF;
  }

  .ratings {
    list-style: none;
    padding: 0;
    left: 8%;
  }

  .rating {
    font-size: 16px;
    text-decoration: none;
  }

  .ratings .star {
    background: url("images/star.png");
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  .metacritic {
    font-size: 14px;
    width: 24px;
    margin: 1.5px 0 0 0;
    border-radius: 2px;
    color: white;
  }

  .metacritic-favorable {
    background-color: #66CC33;
  }

  .metacritic-average {
    background-color: #FFCC33;
  }

  .metacritic-unfavorable {
    background-color: #FF0000;
  }

  .runtime {
    right: 8%;
    margin-bottom: 5px;
  }
  .story {
	  font-size: 13px;
	  color: #FF8C00;
  }
  .credits {
	  font-size: 7px;
	  color: #B0D454;
  }

/******************
  FOOTER
******************/

footer {
  width: 100%;
  left: 0;
  bottom: 0;
  background: #931aff;
}
